@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

body {
  font-family: "Lato", Arial, sans-serif;
  background: rgb(47, 50, 54);
}

.container {
  text-align: center;
}

li {
  list-style: none;
  color: #fff;
  padding: 0.5rem 0rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: left;
}

.messages {
  padding: 30px 10px 10px 10px;
  margin: 0 auto;
  text-align: right;
}

.username {
  width: 16.66%;
  overflow-wrap: break-word;
}

.timestamp {
  width: 16.66%;
  color: rgb(143, 143, 143);
  padding: 0 20px 0 20px;
}

.msg {
  width: 57%;
  overflow-wrap: break-word;
}

.messages li:nth-child(odd) {
  background: rgb(57, 60, 63);
}

.textInput {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  height: 1.5rem;
  background: rgb(64, 66, 70);
  color: #fff;
  border: 1px solid rgb(83, 89, 109);
}

.usernameInput {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  height: 1.5rem;
  background: rgb(64, 66, 70);
  color: #fff;
  border: 1px solid rgb(83, 89, 109);
}

.btn {
  font-family: "Lato", sans-serif;
  height: 2rem;
  font-size: 1rem;
  margin: 5px;
  background: rgb(44, 64, 131);
  color: #fff;
  border-style: groove solid;
  border-color: rgb(15, 31, 85);
}

.btn-small {
  font-family: "Lato", sans-serif;
  height: 1.2rem;
  font-size: 0.75rem;
  margin: 0;
  background: rgb(71, 45, 45);
  color: #fff;
  border: 1px solid black;
}

.p-1 {
  color: #d1d1d1;
}

#spinner {
  animation: spinner 3s infinite;
}

.colorCheatSheet {
  color: rgb(53, 88, 202), rgb(35, 143, 80), rgb(143, 109, 35), rgb(126, 58, 214), rgb(7, 114, 163),
    rgb(228, 120, 100), rgb(138, 50, 91), rgb(34, 168, 230), rgb(65, 141, 46), rgb(209, 179, 114),
    rgb(224, 178, 27), rgb(74, 128, 96), rgb(134, 226, 233), rgb(194, 51, 51), rgb(115, 131, 122),
    rgb(74, 104, 148);
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Extra small devices */
@media (max-width: 575px) {
  .messages,
  .textInput {
    width: 95%;
  }
  .usernameInput {
    width: 40%;
  }
}

/* Small devices */
@media (min-width: 576px) {
  .messages {
    width: 80%;
  }

  .textInput {
    width: 70%;
  }
  .usernameInput {
    width: 30%;
  }
}

/* Medium */
@media (min-width: 768px) {
  .messages {
    width: 70%;
  }

  .textInput {
    width: 60%;
  }
  .usernameInput {
    width: 25%;
  }
}

/* Large devices */
@media (min-width: 992px) {
  .messages {
    width: 50%;
  }

  .textInput {
    width: 40%;
  }
  .usernameInput {
    width: 20%;
  }
}

/* Extra large devices */
@media (min-width: 1200px) {
  .messages {
    width: 38%;
  }

  .textInput {
    width: 30%;
  }
  .usernameInput {
    width: 15%;
  }
}
