body {
  font-family: Arial, Helvetica, sans-serif;
  background: rgb(47, 50, 54);
}

.container {
  text-align: center;
}

li {
  list-style: none;
  color: #fff;
  padding: 0.5rem 0rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: right;
}

.messages {
  padding: 10px;
  width: 38%;
  margin: 0 auto;
  text-align: right;
}

.username {
  width: 16.66%;
}

.timestamp {
  width: 16.66%;
  color: rgb(143, 143, 143);
}

.msg {
  width: 57%;
}

.messages li:nth-child(odd) {
  background: rgb(57, 60, 63);
}

.textInput {
  font-size: 1rem;
  height: 1.5rem;
  width: 35%;
}

.btn {
  height: 2rem;
  font-size: 1rem;
  margin: 5px;
  background: rgb(44, 64, 131);
  color: #fff;
  border-style: groove solid;
  border-color: rgb(15, 31, 85);
}
